.body {
  display: flex;
  flex-wrap: wrap;
  width: clamp(60vw, 100%, 600px);
  margin-block: max(5px, 14vh);
}

.navLinks {
  text-transform: uppercase;
  letter-spacing: -0.05em;
  font-size: max(33px, 4.6vw);
  padding-right: max(30px, 1vw);
  overflow: hidden;
}

.navLinks:nth-child(1) {
  font-style: italic;
}

.navLinks a {
  position: relative;
  display: flex;
  cursor: pointer;
}
