@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --lightBeige: #f4f0ea;
  --darkBrown: #4d3d30;
  --lightBrown: #9f9689;
  --black: #1b1816;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
